/* test */
.no-alerts-message {
    font-size: 1.3em;
    font-weight: bold;
}

.alertType {
    float: left;
    width: 80px;
    padding: 8px;
    padding-left: 20px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.alertAngle {
    position: absolute;
    right: -10%;
    bottom: 0px;
    background-color: #fff;
    width: 20%;
    top: 0px;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
}

.alertText {
    padding: 8px;
    background-color: white;
    margin-left: 80px;
    padding-left: 40px;
}

.alertDiv {
    clear: both;
    border-radius: 5px;
    overflow: auto;
    margin-bottom: 10px;
}

    .alertDiv a {
        color: black;
        font-weight: bold;
    }

.alertText div {
    display: inline;
}

.alertText p {
    display: inline;
}

.Red {
    background-color: red;
}

.Orange {
    background-color: orange;
}

.Green {
    background-color: green;
}

.ms-webpart-titleText {
    display: none;
}


